.cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cart_container{
    height: 70vh;
    width:70vw;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 40px;
    border: 1px solid black;
    

}
.item{
    border-bottom:1px solid black;
    height:35vh;
    display: flex;

}
.spec{
    margin-left: 20px;
    
}
.total{
    display: flex;
    flex-direction: row;
    width: 25vw;
    justify-content: center;
}
@media screen and (max-width:760px){
    .cart_container{
        width:20% ;
        margin-top: 80px;
    }
    .item img{
        width:70px;
    }
}
