.container{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display:flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.image{
    width: 7vw;
    height: 1;
    background-size: cover;
}
.Logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart{
    position: relative;
}
.CartNo{
    position: absolute;
    top: -15px;
    left: 19px;
    background-color: red;
    padding: 0px 3px;
    color: white;
    border-radius: 50%;
}
.reister{
    background-color:#161619;padding:12px;font-size:1rem;
}
@media screen and (max-width: 768px) {

    .image{
        width: 14vw;
    }
    .Name{
        display: none;
    }
    .reister{
        padding:5px 2px;
        font-size: .7rem;
    }
    .cat{
        font-size: .8rem;


    }
}